    <% provide(:title, 'About Us') %>
    <div class="center jumbotron">
      <h1>
         About MusicMarket
      </h1>
    
        
        <div id="info" class="clearfix" >    <p>
            		
					<h3><b>Music Market: Founded in 2016.</b></h3>
					<p>Fueled with a passion for music and all the latest the music instruments.</p>
                    <p>On this site you will find a plethora of instruments to choose from such as guitars, accessories and pianos.</p>
				
			
        
		       <h3><b>What We Offer</b></h3>
       <p>Latest instruments on the market</p>   
        <p>Latest and Greatest Guitars (Electric & Acoustic)</p>
       <p>The best quality Pianos and Keyboard on the market</p>
       <p>Elegantly beautiful violins by Roland, Yamaha and others</p>
       <p>Various Piano and Guitar Accessories</p>

		</div>
</div>
		
   