   <% provide(:title, 'Contact') %>
    <div class="center jumbotron">
      <h1>
          Contact Us 
      </h1>
        
        <div id="info" class="clearfix" >
        <article>
        
        <h3>We Are Located At:</h3>		
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.846805582946!2d-7.142436284810272!3d52.24616616423982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sWaterford+Institute+of+Technology!5e0!3m2!1sen!2sie!4v1482445067036" width="500" height="350" frameborder="1" style="border:0" allowfullscreen></iframe>
            </article>
        
        <article>
            
            
        <h3>Contact Info</h3>
        
        <%= mail_to "20063614@mail.wit.ie" , "Email Us" %>
        <p></p>
                     Phone:  051-302000
            <p></p>
                <% if logged_in? %>

          <h3>Your Feedback</h3>
          <%= render 'shared/feed' %>
            <% else %>
            <p>You are not logged in</p>
                        <% end %>

            
        
    
    </div>
            
             
            </article>
        </div>




         <!--  CHANGED LINE -->
    </div>      

